{% extends 'base.html' %}

{% block title %} FAQ {% endblock %}


{% block content %}
<div class="container">
    <div class="row mb-3 mt-3">
      <div class="col">
            <h4>Why was this website created?</h4>
            <p>
            When we were searching for childcare facilities for our newborn daughter, we found the process difficult to navigate.
            * Some daycares were not easily searchable
            * Google Maps is missing many licensed facilities
            * No way to compare facilities (many were lacking reviews/ratings)
            * Fraser Health website hard to navigate when comparing facilities

            We thought that this tool would be helpful to find facilities near us and easily navigate to the Fraser Health website

            We hope this website will help other families navigate childcare facilities tool
            </p>
            <h4>What does the service type mean? (ex. Multi-age child care)</h4>
            <p>Please review the <a href="https://www.gov.bc.ca/gov/content/family-social-supports/caring-for-young-children/how-to-access-child-care/licensed-unlicensed-child-care">BC government website on different types of Child Care</a>
            </p>
            <h4>Have a question?</h4>
            <p>Reach out to me on Twitter or LinkedIn
            </p>
        </div>
    </div>
</div>
{% endblock %}
