{% extends 'base.html' %}
{% set active_page = 'faq' %}

{% block title %} FAQ {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3 mt-3">
      <div class="col">
            <h4 id="why-this-website">Why was this website created?</h4>
            <p>
            When we were searching for childcare facilities for our daughter, we found the process a bit difficult to navigate.
            <ul>
                <li>Some daycares were not easily searchable online</li>
                <li>Google Maps was missing some licensed facilities</li>
                <li>Hard to compare facilities (many were lacking reviews/ratings)</li>
                <li>Fraser Health website hard to navigate when comparing facilities near us</li>
            </ul>
            I built this tool to help us find facilities nearby and easily navigate to the Fraser Health website.
            We hope this website will help other families too!
            </p>
            <h4 id="how-do-i-use-this-tool">How do I use this tool?</h4>
            <p>
            Our process for searching daycares was:
            <ol>
                <li>Look for licensed childcare facilities near us using this map</li>
                <li>Check Fraser Health's inspection info and search Google for more information</li>
                <li>Apply to the facilities we liked</li>
            </ol>
            <p>Unfortunately we can't skip the frustrating process of sending out a bunch of applications and not knowing if/when our child will be accepted 😅</p>
            <h4 id="no-childcare-centres">No childcare centres are shown near me. Why?</h4>
            <p>This website's data is fetched from the <a href="https://www.fraserhealth.ca/health-topics-a-to-z/child-care" target="_blank">Fraser Health</a> region. You are likely in a different region.</p>
            <p>Please check these links for other health regions in BC:</p>
            <ol>
                <li>Vancouver Coastal Health: <a href="https://inspections.vcha.ca/ChildCare/Map" target="_blank">Vancouver Coastal Health Inspection Reports</a></li>
                <li>All other health regions: <a href="https://maps.gov.bc.ca/ess/hm/ccf/" target="_blank">BC Government Childcare Map</a></li>
            </ol>
            <h4 id="what-are-service-types">What does the service type mean? (ex. Multi-age child care)</h4>
            <p>Please review the <a href="https://www.gov.bc.ca/gov/content/family-social-supports/caring-for-young-children/how-to-access-child-care/licensed-unlicensed-child-care">BC government website on different types of Child Care</a>
            </p>
            <h4 id="how-does-this-tool-work">How does this tool work?</h4>
            <ol>
                <li>Data is pulled from the <a href="https://www.healthspace.ca/Clients/FHA/FHA_Website.nsf/CCFL-Child">Fraser Health Childcare database</a></li>
                <li>Childcare facilities are displayed on a map via <a href="https://developers.google.com/maps">Google Maps API</a> for your viewing pleasure</li>
            </ol>
            <p>The data is periodically updated. Please let me know if you notice any missing facilities</p>
            <h4 id="questions">Have a question?</h4>
            <p>Found an issue? Have questions or feedback?</p>
            <p>Reach out to <a href="mailto: lamontkwc@gmail.com">me</a> and I'll try to get back to you as soon as possible</p>
            <h4 id="support">Support</h4>
            <p>This is a personal project and I have costs in hosting this website. If you found it helpful and would like to support me, please buy me a coffee ☕. Thanks!</p>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="lamontc" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
        </div>
    </div>
</div>
{% endblock %}
