beautifulsoup4==4.12.2
pytest==7.3.1
requests==2.31.0
SQLAlchemy==1.4.26
requests-mock==1.9.3
fixtures==4.1.0
Flask==2.3.2
flask-sqlalchemy==3.0.3
Flask-Migrate==4.0.4
gunicorn==21.2.0
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
python-dotenv
