beautifulsoup4==4.10.0
pytest==6.2.5
requests==2.26.0
SQLAlchemy==1.4.26
requests-mock==1.9.3
fixtures==3.0.0
Flask==2.3.2
flask-sqlalchemy==2.5.1
Flask-Migrate==3.1.0
gunicorn==20.1.0
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
python-dotenv
